*.class
*.jar
*.war
*.ear
*.zip

lib
out
dist
coverage
build
**/build
**/target
.gradle
.gradleTemp

*/.gradle
*/.gradleTemp

.idea/workspace.xml
.idea/uiDesigner.xml
.idea/deployment.xml
.idea/shelf
.idea/ant.xml
.idea/dataSources.local.xml

.idea/libraries
.idea/modules
.idea/modules.xml

test-db.config
test-db.properties
pom.xml.versionsBackup

