*.class
*.jar
*.war
*.ear
*.zip

lib
out
dist
coverage
build
**/build
**/target
.gradle
.gradleTemp

./.idea

*/.idea/libraries
*/.idea/modules

*/.idea/modules.xml
*/.idea/workspace.xml
*/.idea/uiDesigner.xml
*/.idea/deployment.xml
*/.idea/shelf
*/.idea/ant.xml
*/.idea/gradle.xml
*/.idea/kotlinc.xml
*/.idea/dataSources.local.xml


test-db.config
test-db.properties
pom.xml.versionsBackup

