<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DBAUnitTests" verbose="1">

  <test name="Test" preserve-order="true">

    <groups>
      <define name="jdbc"/>
    </groups>

    <classes>

      <class name="org.jetbrains.dba.sql.SQLScriptTest"/>
      <class name="org.jetbrains.dba.sql.SQLTest"/>
      <class name="org.jetbrains.dba.sql.SQLScriptBuilderTest"/>

      <class name="org.jetbrains.dba.access.DBProviderUnitTest"/>
      <class name="org.jetbrains.dba.access.ValueGetterTest"/>
      <class name="org.jetbrains.dba.access.StructRowFetcherTest"/>

      <class name="org.jetbrains.dba.sql.OraSQLTest"/>

      <class name="org.jetbrains.dba.access.JdbcDriverSupportTest"/>

    </classes>
  </test>

</suite>