<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/bsh-2.0b4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/hamcrest-core-1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jcommander-1.27.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/junit-4.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/snakeyaml-1.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/testng-6.8.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/hamcrest-core-1.1.jar!/" />
    </SOURCES>
  </library>
</component>