<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DB" verbose="1">



  <test name="CommonTest" preserve-order="true">

    <groups>
      <define name="oracle"/>
      <define name="postgre"/>
      <define name="mssql"/>
      <define name="mysql"/>
      <define name="all-db"/>
    </groups>

    <classes>

      <class name="org.jetbrains.dba.access.BaseFacadeTest"/>
      <class name="org.jetbrains.dba.access.BaseScriptRunnerTest"/>
      <class name="org.jetbrains.dba.TestDBTest2"/>

      <class name="org.jetbrains.dba.access.OraSessionTest"/>

    </classes>

  </test>

</suite>